@import "tailwindcss";

:root {
  --gradient-start: #e0f7fa; /* light teal */
  --gradient-end: rgb(243, 229, 245);   /* light purple */
  --foreground: #4a5568;     /* default text color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ffdcea;
}

::-webkit-scrollbar-thumb {
  background: #ffdcea;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Firefox */
* {
  scrollbar-width: thin;
  /* thumb | track */
  scrollbar-color: rgba(255, 255, 255, 0.4) #ffdcea;
}

body {
  background: linear-gradient(135deg, var(--gradient-start) 5%, var(--gradient-end) 35%, rgb(246, 204, 252) 90%, #ffb3d1 100%);
  min-height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass-card{
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem; /* 2xl */
  box-shadow: 0 8px 16px rgba(0,0,0,0.08);
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.glass-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

.glass-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0;
  background: linear-gradient(to right, #ec4899, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-card h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: #421045; /* dark purple */
}

.glass-card p {
  font-size: 0.95rem;
  color: #1f2937; 
}

.glass-card.education-box {
  border-left: 4px solid #d5fcff; 
}

.glass-card.work-box {
  border-left: 4px solid #eec9fc; 
}

.glass-card.dropdown {
  padding: 0;
}

.intro-icon:hover {
  color: rgb(0,0,0);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4); 
  transform: translateY(-4px);
}

.footer-icon:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4); 
  transform: translateY(-4px);
}


h1 {
  /*color: #ffb3d1;*/
  font-size: 3rem;
  font-family: Raleway, sans-serif;
  background: linear-gradient(to right, #ec4899, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #421045;
  font-size: 2rem;
  margin-top: 2rem;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

h3 {
  color: #421045;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: Raleway, sans-serif;
}

h4 {
  color: #000000;
  font-size: 1.25rem;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  margin-left: 0.5rem;
}

li {
  color: #1f2937;
  font-size: 0.9rem;
}

#intro-text {
  margin-top: 10rem;
}

#links {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#pages {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: left;
}

.page-button {
  background: linear-gradient(to right, #ffdcea 5%, #ffffff 100%);
  color: #4a5568;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem; 
  transition: all 0.3s ease;
}

.page-button:hover {
  background: linear-gradient(to right, #ffb3d1, #ffe4f0);
  color: #000000;
  box-shadow: 0 4px 12px rgba(236, 72, 153, 0.4); 
  transform: translateY(-4px);
}

.dropdown .page-button{
  border-radius: 0;
}

.socials {
  background-color: #ffb3d1;
  border-radius: 0.25rem;
}

.project-type-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 600px;
  margin: 10 auto;
}

.project-type {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  padding: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-type:hover {
  box-shadow: 0 12px 24px rgba(0,0,0,0.15);
  transform: translateY(-4px);
}

.project-icon {
  font-size: 2rem;
  color: #8b5cf6; /* purple accent */
  margin-bottom: 0.25rem;
}

.project-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: #1f2937; /* slate-800 */
  opacity: 0;
  transform: translateY(8px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-type:hover .project-name {
  opacity: 1;
  transform: translateY(0);
}

.project-link {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: #421045;
}

.modal-content {
  margin-top: 20vh;
  position: fixed;
  inset: 0px;
}
